<b><h2 style="color:yellow; text-align:center" class="column"> <%= @product.brand %> : <%= @product.name %> </h2></b>

<div class="row">
  <div class="large-6 columns"><%= image_tag @product.image_url %></div>
  <div class="large-6 columns" style="color:white; text-align:justify"><%= @product.long_description %></div>
</div>

<div class="row">
  <center><div class="button round">
            Purchase Now
          </div></center>
</div>