<footer class="row">
	<div class="large-12 columns">
	<hr/>
		<div class="row">
			<div class="large-6 columns">
				<p>&copy; Copyright with <a href="/">Fire Force Pvt. Ltd.</a> exclusively</p>
			</div>
			<div class="large-6 columns">
				<ul class="inline-list right">
					<li><a href="/">Home</a></li>
					<li><a href="#">About Me</a></li>
					<li><a href="#"></a>FeedBack</li>
					<li><a href="#"></a>Contact Us</li>
				</ul>
			</div>
		</div>
	</div>
</footer>