<div class="row">
    <div class="large-3 columns">
    <h1><%= link_to image_tag("logo.gif", alt: "Fire Force logo"),'/' %></h1>
    </div>
      <div class="large-9 columns">
        <ul class="right button-group">
          <li><a href="#" class="button">Home</a></li>
          <li><a href="#" class="button">About Me</a></li>
          <li><a href="#" class="button">Contact Us</a></li>
          <li><a href="#" class="button">FeedBack</a></li>
        </ul>
      </div>
    </div>