<div class="row">
    <div class="large-12 columns">
    <ul class="example-orbit" data-orbit data-options="					  animation:slide;
                  pause_on_hover:false;
                  animation_speed:500;
                  navigation_arrows:true;
                  bullets:true;">
      <li><%= link_to image_tag("slider1.jpg", alt: "Current Offers"),'#' %></li>
      <li><%= link_to image_tag("slider1.jpg", alt: "Current Offers"),'#' %></li>
      <li><%= link_to image_tag("slider1.jpg", alt: "Current Offers"),'#' %></li>
    </ul>
  </div>
</div>
<hr/>